Square of Number in list

In [7]:
def list_square(num_list):
    temp_list = []  # Initialize an empty list to store the squared numbers
    for num in num_list:  # Iterate through each number in the given list
        temp_list.append(num ** 2)  # Append the square of each number to the temp_list
    return "Square_list", temp_list  # Return the label and the list of squares

num_list = [2, 3, 4, 5]  # Define the original list
print("Original List:", num_list)  # Print the original list
result = list_square(num_list)  # Call the function to get the result
print(result[0], result[1])  # Print the label and the list of squares

Original List: [2, 3, 4, 5]
Square_list [4, 9, 16, 25]

Sum of total numbers

In [3]:
def sum_list(num_list):
    sum=0
    for i in num_list:
        sum=sum+i
    return sum
num_list=[2,3,4,5]
print("original list",num_list)
sum_list(num_list)

original list [2, 3, 4, 5]

14

Sum of total number in list

In [11]:
def sum_list(num_list):
    sum=1
    for i in num_list:
        sum=sum*i
    return sum
num_list=[2,3,4,5]
print("original list",num_list)
sum_list(num_list)

original list [2, 3, 4, 5]

120

Function to check the number is even or odd and also a valid number

In [23]:
def is_valid_even():
    # Ask the user to input a number
    user_input = input("Please enter a number: ")
    
    try:
        num = int(user_input)  # Convert the input to an integer
        if num % 2 == 0:
            print("Number is even")
        else:
            print("Number is odd")
    except ValueError:  # Handle the case where input is not a valid integer
        print("Enter a valid number")

# Call the function
is_valid_even()

Please enter a number:  ali

Enter a valid number

In [27]:
# Function to calculate the product of elements in a tuple
def product_tuple(num_list):
    product = 1  # Start with 1 for multiplication
    for i in num_list:
        product *= i  # Multiply each element in the tuple
    return product

# Defining a tuple
num_list = (2, 3, 4, 5)

# Printing the original tuple
print("Original tuple:", num_list)

# Calling the function and printing the result
result = product_tuple(num_list)
print("Product of elements in the tuple:", result)

Original tuple: (2, 3, 4, 5)
Product of elements in the tuple: 120

In [ ]:
For loop for number is Even or Odd

In [29]:
for i in range (10,20):
     print("Number is",i,"Category:",is_valid_even(i))

Number is even
Number is 10 Category: None
Number is odd
Number is 11 Category: None
Number is even
Number is 12 Category: None
Number is odd
Number is 13 Category: None
Number is even
Number is 14 Category: None
Number is odd
Number is 15 Category: None
Number is even
Number is 16 Category: None
Number is odd
Number is 17 Category: None
Number is even
Number is 18 Category: None
Number is odd
Number is 19 Category: None

In [31]:
#3types of aurgument
#Default Argument
#positional aurguments
#keyword aurguments
def power(a=1,b=1):
    return a**b

In [41]:
#default aurguments
power()

1

In [35]:
power(2,3)

8

In [37]:
#Position aurguments
power(b=3,a=2)

8

In [39]:
power(3,2)

9

In [45]:
def power(c=3.8,b=1):
    return c**b

In [47]:
power(b=2)

14.44

In [29]:
# *args,*keywargs
def product(*args):
    product=1
    for i in args:
        product=product*i
    print(args)
    return product

In [55]:
product(2,3,4,)

(2, 3, 4)

24

In [ ]:
# potfolio
def potfolio(*args):
    product=1
    for i in args:
        product=product*i
    print(args)
    return product

Using *args

In [33]:
def user_details(*args):
    print(args)
name=input("Enter your name")
gender=input("Enter your gender")
age=int(input("Enter your age"))
specialization=input("Enter your specialization")
user_details(name,gender,age,specialization)

Enter your name Ghulam Ahmed
Enter your gender Male
Enter your age 30
Enter your specialization Data Scientist

('Ghulam Ahmed', 'Male', 30, 'Data Scientist')

Using *kwargs

In [41]:
def user_details(**kwargs):
    print(kwargs)  # kwargs will be a dictionary containing all the passed keyword arguments

# Taking user inputs
name = input("Enter your name: ")
gender = input("Enter your gender: ")
age = int(input("Enter your age: "))
specialization = input("Enter your specialization: ")

# Calling the function and passing the inputs as keyword arguments
user_details(name=name, gender=gender, age=age, specialization=specialization)

Enter your name:  Ghulam Ahmed
Enter your gender:  Male
Enter your age:  30
Enter your specialization:  Data Scientist

{'name': 'Ghulam Ahmed', 'gender': 'Male', 'age': 30, 'specialization': 'Data Scientist'}

In [43]:
def capital_of_country(**kwargs):
    for key,value in kwargs.items():
        print(key,"----->",value)

In [47]:
capital_of_country(Pakistan="Islamabad",England="London",Germany="Berlin")

Pakistan -----> Islamabad
England -----> London
Germany -----> Berlin