In [1]:
# Force = ? , Mass = 4kg , acc = 8m/s2
mass= 4
acc= 8.5
force=mass * acc

In [3]:
# Force = ? , Mass = 4kg , acc = 8m/s2
mass= 4
acc= 8.5
force=mass * acc
print (force)

34.0

In [20]:
# Force = ? , Mass = 4kg , acc = 8m/s2
mass= 4
acc= 8.5
force=mass * acc
print ("The value of mass is = " , mass)
print (type(mass))
print ("The value of acc is = " , acc)
print (type(acc))
print ("The value of force is = " , force)
print (type(force))

The value of mass is =  4
<class 'int'>
The value of acc is =  8.5
<class 'float'>
The value of force is =  34.0
<class 'float'>

In [22]:
mass= float (input())

 2

In [24]:
mass=float (input("Enter the value of mass"))

Enter the value of mass 7

In [28]:
print ("The value of mass is " , mass)
print(type(mass))

The value of mass is  7.0
<class 'float'>

In [32]:
mass=float (input("Enter the value of mass"))
print ("The value of mass is =  " , mass)
print(type(mass))

Enter the value of mass 7

The value of mass is =   7.0
<class 'float'>

In [34]:
mass= float(input("Enter the value of mass"))

Enter the value of mass 4
Enter the value of acc 7.5

the value of fore is = 30.0

In [40]:
mass=float(input("Enter the value of mass"))
acc=float(input("Enter the value of acc"))
force= mass*acc
print ("the value of force is",force)

Enter the value of mass 7
Enter the value of acc 5

the value of force is 35.0

In [44]:
mass=float(input("Enter the value of mass"))
acc=float(input("Enter the value of acc"))
force= mass*acc
print ("the value of force is",force,"N")

Enter the value of mass 7
Enter the value of acc 5.3

the value of force is 37.1 N

In [48]:
# The sum of two numbers with dynamic program
num1=float(input("Enter your first number"))
num2=float(input("Enter your second number"))
sum=num1 + num2
print ("The sum of two number is",sum)

Enter your first number 4
Enter your second number 5

The sum of two number is 9.0

In [50]:
# the subtraction of two numbers
num1=float(input("Enter your first number"))
num2=float(input("Enter your second number"))
sub=num1 - num2
print ("The sub of two number is",sub)

Enter your first number 16
Enter your second number 8

The sub of two number is 8.0

In [54]:
# the multiplication of two numbers
num1=float(input("Enter your first number"))
num2=float(input("Enter your second number"))
mul=num1 * num2
print ("The mul of two number is",mul)

Enter your first number 4
Enter your second number 5

The mul of two number is 20.0

In [56]:
#the division of two numbers
num1=float(input("Enter your first number"))
num2=float(input("Enter your second number"))
div=num1 / num2
print ("The div of two number is",div)

Enter your first number 20
Enter your second number 4

The div of two number is 5.0

In [60]:
#the division of two numbers
num1=float(input("Enter your first number")) # a number which is not perfact integer
num2=float(input("Enter your second number"))
div=num1 / num2
print ("The div of two number is",div)

Enter your first number 21
Enter your second number 4

The div of two number is 5.25

In [62]:
#the power of two numbers
num1=float(input("Enter your first number"))
num2=float(input("Enter your second number"))
power=num1 ** num2 # for power ** is used
print ("The power of two number is",power)

Enter your first number 2
Enter your second number 5

The power of two number is 32.0

In [64]:
import math # import math is used for calling mathematical operation

In [66]:
pow(2,5) # for the power of two numbers

32

In [68]:
# floor operator // this operator is used 
# In celing we consider number less than 2.5 and its answere is 2
# In floor we consider number is greater than 2.5 and its answere is 3
5//2

2

In [70]:
#the power of two numbers (simple method)
num1=float(input("Enter your first number"))
power=num1 ** 2 # for power ** is used. left side is a number and right side is power
print ("The power of two number is",power)

Enter your first number 7

The power of two number is 49.0

In [80]:
# rase_to function is used
num1=float(input("Enter your first number"))
rase_to=float(input("Enter the power of number"))
power=num1**rase_to
print ("The power of the number is",power)

Enter your first number 5
Enter the power of number 2

The power of the number is 25.0

In [82]:
#remainder operator is %
num1=float(input("Enter your first number"))
num2=float(input("Enter your second number"))
remainder=num1 % num2 # for remainder % percentage sign is used
print ("The remainderof two number is",remainder)

Enter your first number 5
Enter your second number 2

The remainderof two number is 1.0

In [84]:
#remainder operator is %
5 % 2   # the remainder will be 1

1

In [86]:
#remainder operator is %
4 % 2   # the remainder will be 0

0

In [88]:
# odd numbers and even numbers if a number is divided by 2 and its remainder is zero than the number is even 
# however if the number is divided by 2 and its remainder is some thing than the number is odd
# Type Casting (It is method in which the number change integer to string,string to integer,number to string,string to float
number=6
print (type(number))

<class 'int'>

In [90]:
# Type Casting
number=str(6)
print (type(number))

<class 'str'>

In [99]:
number= str(16)
print(type(number))

<class 'str'>

In [97]:
name= int(16)
print(type(name))

<class 'int'>

In [1]:
# Assigning multiple variables in a single line
name,gender,age,organization,is_job="Ghulam Ahmed","Male" ,30 ,"AI", True
print ("Ghulam Ahmed","Male" ,30 ,"AI", True)

Ghulam Ahmed Male 30 AI True

In [15]:
# To check the data type of multiple variables
name,gender,age,organization,is_job="Ghulam Ahmed","Male" ,30 ,"AI", True
print ("Ghulam Ahmed","Male" ,30 ,"AI", True)
print(type(name),type(gender),type(age),type(organization))

Ghulam Ahmed Male 30 AI True
<class 'str'> <class 'str'> <class 'int'> <class 'str'>

In [21]:
# how to change text from upper case to lover case
text="I LOVE UK"
print(text)
text.lower()

I LOVE UK

'i love uk'

In [23]:
# how to change text from lower case to upper case
text="i love uk"
print(text)
text.upper()

i love uk

'I LOVE UK'

In [25]:
# builtin function for power in pythan (back hand 2***3)
pow(2,3)

8

In [29]:
# A float is converted to integer (change of Data type)
number=int(4.5)
print(number)
print (type(number))

4
<class 'int'>

In [31]:
# how to find minimum number
min(1,2,3,4,5,6,7,8)

1

In [33]:
# how to find maxmum number
max(1,2,3,4,5,6,7,8)

8

In [36]:
#Sort the alphabates
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [38]:
#Sort the numbers
a = ("12", "3", "10", "8", "6", "18", "7", "4")
x = sorted(a)
print(x)

['10', '12', '18', '3', '4', '6', '7', '8']

In [59]:
print("Enter Marks Obtained in 5 Subjects: ")
mOne = int(input())
mTwo = int(input())
mThree = int(input())
mFour = int(input())
mFive = int(input())

sum = mOne+mTwo+mThree+mFour+mFive
print("sum",sum)
avg = sum/5
perc = (sum/500)*100

print("Average Mark = ")
print(avg)
print("Percentage Mark = ")
print(perc)

Enter Marks Obtained in 5 Subjects:

 70
 70
 80
 90
 70

sum 380
Average Mark =
76.0
Percentage Mark =
76.0

In [61]:
#Take input of five subjects ,total marks 500,marksobtained and percentage
print("Enter Marks Obtained in 5 Subjects: ")
mOne = int(input())
mTwo = int(input())
mThree = int(input())
mFour = int(input())
mFive = int(input())

sum = mOne+mTwo+mThree+mFour+mFive
print("sum",sum)
avg = sum/5
perc = (sum/500)*100

print("Average Mark = ")
print(avg)
print("Percentage Mark = ")
print(perc)

Enter Marks Obtained in 5 Subjects:

 60
 70
 80
 90
 50

sum 350
Average Mark =
70.0
Percentage Mark =
70.0