**LIST Questions**

1. Declare an empty list

In [75]:
list_of_fruit = []

2. Declare a list with more than 5 items

In [77]:
list_of_fruit = ["apple","banana","Dryfruit","Grapes","Orange","Pineapple"]

3. Find the length of your list

In [79]:
print("Lenght of Fruit List is:",len(list_of_fruit))

Lenght of Fruit List is: 6

4. Get the first item, the middle item and the last item of the list

In [81]:
print("First Item Fruit List is :",list_of_fruit[0])
print("Middle Item Fruit List is :",list_of_fruit[3])
print("Last Item Fruit List is :",list_of_fruit[5])

First Item Fruit List is : apple
Middle Item Fruit List is : Grapes
Last Item Fruit List is : Pineapple

5. Declare a list called mixed_data_types, put your (name, age, height, marital status, address)

In [83]:
mixed_data_types = ['Ahmed',29,5.2,'Single','A-405 Street 10']

6. Declare a list variable named IT_companies and assign initial values Facebook, Google,
Microsoft, Apple, IBM, Oracle and Amazon, Print the list using print() and Print the
number of companies in the list

In [182]:
IT_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(IT_companies)
print("Numberr of Companies in the List is :",len(IT_companies))

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Numberr of Companies in the List is : 7

7. Print the first, middle and last company

In [184]:
print("First Item company List is :",IT_companies[0])
print("Middle Item company List is :",IT_companies[3])
print("Last Item company List is :",IT_companies[5])

First Item company List is : Facebook
Middle Item company List is : Apple
Last Item company List is : Oracle

8. Print the list after modifying one of the companies

In [186]:
IT_companies[1] = 'corvit'
print("Modified Google to corvit",IT_companies)

Modified Google to corvit ['Facebook', 'corvit', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Add an IT company to IT_companies

In [188]:
IT_companies.append('Dell')
print("Added Dell in the company list ",IT_companies)

Added Dell in the company list  ['Facebook', 'corvit', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Dell']

10. Insert an IT company in the middle of the companies list

In [190]:
IT_companies.insert(3,'Mercedis')
print("Added Mercedis in the middle of company list ",IT_companies)

Added Mercedis in the middle of company list  ['Facebook', 'corvit', 'Microsoft', 'Mercedis', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Dell']

11. Change one of the IT_companies names to uppercase (IBM excluded!)

In [192]:
IT_companies[4] = 'APPLE'
print("Changed one of the IT companies to uppercase",IT_companies)

Changed one of the IT companies to uppercase ['Facebook', 'corvit', 'Microsoft', 'Mercedis', 'APPLE', 'IBM', 'Oracle', 'Amazon', 'Dell']

12. Sort the list using sort () method

In [194]:
print("Sorted Companies list",IT_companies.sort(reverse=True))

Sorted Companies list None

13. Reverse the list in descending order using reverse() method

In [196]:
temp_list = [['melon', 'mango', 'kiwi'], 'Apple', 'Berry', 'water melon', 'Avacado', 'grapes', 'Apricot']
print("Reverse list",temp_list.reverse())

Reverse list None

14. Slice out the first 3 companies from the list

In [198]:
print("Reprint Comapnies",IT_companies)
print("First Three Comapnies from the List",IT_companies[0:3])

Reprint Comapnies ['corvit', 'Oracle', 'Microsoft', 'Mercedis', 'IBM', 'Facebook', 'Dell', 'Amazon', 'APPLE']
First Three Comapnies from the List ['corvit', 'Oracle', 'Microsoft']

15. Slice out the last 3 companies from the list

In [200]:
print("Reprint Comapnies",IT_companies)
print("Last Three Comapnies from the List",IT_companies[6:9])

Reprint Comapnies ['corvit', 'Oracle', 'Microsoft', 'Mercedis', 'IBM', 'Facebook', 'Dell', 'Amazon', 'APPLE']
Last Three Comapnies from the List ['Dell', 'Amazon', 'APPLE']

16. Slice out the middle IT company or companies from the list

In [202]:
print("Reprint Comapnies",IT_companies)
print("Middle comapnies  from the List",IT_companies[3:6:1])

Reprint Comapnies ['corvit', 'Oracle', 'Microsoft', 'Mercedis', 'IBM', 'Facebook', 'Dell', 'Amazon', 'APPLE']
Middle comapnies  from the List ['Mercedis', 'IBM', 'Facebook']

17. Remove the first IT company from the list

In [204]:
print("Reprint Comapnies",IT_companies)
print("remove First company  from the List",IT_companies.remove('corvit'))
print("Reprint Comapnies",IT_companies)

Reprint Comapnies ['corvit', 'Oracle', 'Microsoft', 'Mercedis', 'IBM', 'Facebook', 'Dell', 'Amazon', 'APPLE']
remove First company  from the List None
Reprint Comapnies ['Oracle', 'Microsoft', 'Mercedis', 'IBM', 'Facebook', 'Dell', 'Amazon', 'APPLE']

18. Remove the middle IT company or companies from the list

In [206]:
print("Reprint Comapnies",IT_companies)
print("remove middle company  from the List",IT_companies.remove('IBM'))
print("Reprint Comapnies",IT_companies)

Reprint Comapnies ['Oracle', 'Microsoft', 'Mercedis', 'IBM', 'Facebook', 'Dell', 'Amazon', 'APPLE']
remove middle company  from the List None
Reprint Comapnies ['Oracle', 'Microsoft', 'Mercedis', 'Facebook', 'Dell', 'Amazon', 'APPLE']

19. Remove the last IT company from the list

In [208]:
print("Reprint Comapnies",IT_companies)
print("remove middle company  from the List",IT_companies.pop())
print("Reprint Comapnies",IT_companies)

Reprint Comapnies ['Oracle', 'Microsoft', 'Mercedis', 'Facebook', 'Dell', 'Amazon', 'APPLE']
remove middle company  from the List APPLE
Reprint Comapnies ['Oracle', 'Microsoft', 'Mercedis', 'Facebook', 'Dell', 'Amazon']

20. Remove all IT companies from the list

In [210]:
print("Reprint Comapnies",IT_companies)
IT_companies.clear()
print("Reprint Comapnies",IT_companies)

Reprint Comapnies ['Oracle', 'Microsoft', 'Mercedis', 'Facebook', 'Dell', 'Amazon']
Reprint Comapnies []

21. Destroy the IT companies list

In [212]:
# Create a list of IT companies
IT_companies = ["Apple", "Google", "Microsoft", "Amazon"]

# Printing the list before deletion
print("Reprint Companies:", IT_companies)

# Deleting the list
del IT_companies

# Attempting to print the list after deletion (safe way)
try:
    print("Reprint Companies:", IT_companies)
except NameError:
    print("IT_companies has been deleted and is no longer available.")

Reprint Companies: ['Apple', 'Google', 'Microsoft', 'Amazon']
IT_companies has been deleted and is no longer available.

22. Join the following lists:
23. front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [118]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.append(back_end)

24. After joining the lists in question 26. Copy the joined list and assign it to a variable
full_stack. Then insert Python and SQL after Redux.

In [120]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.append(back_end)
full_stack = front_end
full_stack.append('Python')
full_stack[5].append('SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', ['Node', 'Express', 'MongoDB', 'SQL'], 'Python']

25. The following is a list of 10 students ages:
26. ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
27. Sort the list and find the min and max age
28. Add the min age and the max age again to the list
29. Find the median age (one middle item or two middle items divided by two)
30. Find the average age (sum of all items divided by their number)
31. Find the range of the ages (max minus min)
32. Compare the value of (min - average) and (max - average), use abs () method

In [122]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# sorting age list
ages.sort()
print("27.Min in the list",min(ages))
print("27.Min in the list",max(ages))
# Adding min and max again to the list
ages.append(min(ages))
ages.append(max(ages))
print("28.After again added min and max",ages)
length_of_list = len(ages)
middle_index = int(length_of_list/2)
print("29.median of ages is",ages[middle_index]/2)
sum_of_all_items=sum(ages)
number_of_item_in_the_age_list = len(ages)
average_age =float(sum_of_all_items/number_of_item_in_the_age_list)
print("30.Average age is ",average_age)
print("31.Range of ages ",max(ages) - min(ages))
min_average = abs(min(ages) - average_age)
max_average = abs(max(ages) - average_age)
print("32. min Average is ",min_average)
print("32. max Average is ",max_average)

27.Min in the list 19
27.Min in the list 26
28.After again added min and max [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
29.median of ages is 12.0
30.Average age is  22.75
31.Range of ages  7
32. min Average is  3.75
32. max Average is  3.25

33. Find the middle country(ies) in the countries list
34. Divide the countries list into two equal lists if it is even if not one more country for the first
half.
35. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three
countries and the rest as scandic countries.

In [124]:
country = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print("33. Middle counrtries in the list are", country[2:4])
first_half = country[0:4]
second_half = country[4:8]
print("34. first half",first_half)
print("34. second half",second_half)
china,russia,usa,*scandic_countries =['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print("35. Unpacked First",china)
print("35. Unpacked Second",russia)
print("35. Unpacked Third",usa)
print("35. Unpacked rest are scandic countries",scandic_countries)

33. Middle counrtries in the list are ['USA', 'Finland']
34. first half ['China', 'Russia', 'USA', 'Finland']
34. second half ['Sweden', 'Norway', 'Denmark']
35. Unpacked First China
35. Unpacked Second Russia
35. Unpacked Third USA
35. Unpacked rest are scandic countries ['Finland', 'Sweden', 'Norway', 'Denmark']

##TUPLES QUESTIONS##

1. Create an empty tuple

In [126]:
tup = ()
print(type(tup))

<class 'tuple'>

2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [128]:
brother = ('Ali','Khan')
sister = ('Shabana','Shazia','Seema')
print("brother",brother)
print("sister",sister)

brother ('Ali', 'Khan')
sister ('Shabana', 'Shazia', 'Seema')

3. Join brothers and sisters tuples and assign it to siblings

In [130]:
siblings = brother + sister
print(siblings)

('Ali', 'Khan', 'Shabana', 'Shazia', 'Seema')

4. How many siblings do you have?

In [132]:
print("4. How many siblings do you have?",len(siblings))

4. How many siblings do you have? 5

5. Modify the siblings tuple and add the name of your father and mother and assign it to
family_members.

In [134]:

family_members = ('Abdul','Sakina','Ali', 'Khan', 'Shabana', 'Shazia', 'Seema')
print("Family memeber are",family_members)

Family memeber are ('Abdul', 'Sakina', 'Ali', 'Khan', 'Shabana', 'Shazia', 'Seema')

6. Unpack siblings and parents from family_members

In [136]:
parent1,parent2,*siblings1 = ('Abdul','Sakina','Ali', 'Khan', 'Shabana', 'Shazia', 'Seema')
print("PARENT 1 ", parent1)
print("PARENT 2 ", parent2)
print("PARENTt 3 ", siblings1)

PARENT 1  Abdul
PARENT 2  Sakina
PARENTt 3  ['Ali', 'Khan', 'Shabana', 'Shazia', 'Seema']

7. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a
variable called food_stuff_tp.

In [168]:
# Creating tuples for fruits, vegetables, and animal products
fruits = ("apple", "banana", "cherry")
vegetables = ("carrot", "broccoli", "spinach")
animal_products = ("milk", "cheese", "eggs")

# Joining the three tuples into one tuple
food_stuff_tp = fruits + vegetables + animal_products

# Printing the result
print(food_stuff_tp)

('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'eggs')

8. Change the about food_stuff_tp tuple to a food_stuff_lt list

In [170]:
food_stuff_It = food_stuff_tp
print("Changed Tuple name",food_stuff_It)

Changed Tuple name ('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'eggs')

9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [172]:
print("Middle Item slicing",food_stuff_It[2:4])

Middle Item slicing ('cherry', 'carrot')

10. Slice out the first three items and the last three items from food_staff_lt list

In [174]:
print("First Three Item",food_stuff_It[0:3])
print("Last Three Item",food_stuff_It[3:])

First Three Item ('apple', 'banana', 'cherry')
Last Three Item ('carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'eggs')

11. Delete the food_staff_tp tuple completely.

In [178]:
# Creating tuples for fruits, vegetables, and animal products
fruits = ("apple", "banana", "cherry")
vegetables = ("carrot", "broccoli", "spinach")
animal_products = ("milk", "cheese", "eggs")

# Joining the three tuples into one tuple
food_stuff_tp = fruits + vegetables + animal_products

# Converting the tuple to a list
food_stuff_lt = list(food_stuff_tp)

# Deleting the tuple
del food_stuff_tp

# Attempting to print the deleted tuple (this will cause an error)
# print(food_stuff_tp)  # Uncommenting this will result in a NameError because the tuple is deleted

# Instead, print the list
print(food_stuff_lt)  # This works fine, as the list still exists

['apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'eggs']

**SETS Questions**

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

1. Find the length of the set it_companies
2. Add 'Twitter' to it_companies
3. Insert multiple IT companies at once to the set it_companies
4. Remove one of the companies from the set it_companies

In [166]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("1. length of it_companies",len(it_companies))
it_companies.add('Twitter')
print("2.  Add twitter",it_companies)
it_companies.update(['BlackStone','Simplilearn','Systems Limited'])
print("3.  Multiple at once",it_companies)
it_companies.remove('BlackStone')
print("4. Remove one of the companies",it_companies)

1. length of it_companies 7
2.  Add twitter {'IBM', 'Oracle', 'Amazon', 'Twitter', 'Apple', 'Microsoft', 'Google', 'Facebook'}
3.  Multiple at once {'Oracle', 'Apple', 'Facebook', 'IBM', 'Twitter', 'Google', 'Systems Limited', 'Microsoft', 'Simplilearn', 'Amazon', 'BlackStone'}
4. Remove one of the companies {'Oracle', 'Apple', 'Facebook', 'IBM', 'Twitter', 'Google', 'Systems Limited', 'Microsoft', 'Simplilearn', 'Amazon'}

5. What is the difference between remove and discard?
Answer: remove gives error when we pass unknown item from list.Whereas, discard doesn't through error.

6. Join A and B

In [92]:
print("join A and B is", A | B)

join A and B is {19, 20, 22, 24, 25, 26, 27, 28}

7. Find A intersection B

In [ ]:
print("intersection A and B is", A & B)

8. Is A subset of B

In [ ]:
print("A is a subset of B", A.issubset(B))

9. Are A and B disjoint sets

In [94]:
print("A and B Disjoint", A.isdisjoint(B))

A and B Disjoint False

10. Join A with B and B with A

In [ ]:
print("join A and B is", A | B)
print("join B and A is", B | A)

11. What is the symmetric difference between A and B?

In [ ]:
print("symmetric difference between A and B" , A ^ B)

12. Delete the sets completely

In [ ]:
del A
del B
print(A)
print(B)

13. Convert the ages to a set and compare the length of the list and the set, which one is
bigger?

In [98]:
ages_set = set(ages)
print(ages_set)
len_of_list_ages = len(ages)
print("lenght of list of ages",len_of_list_ages)
len_of_set_ages = len(ages_set)##comparison
print("lenght of set of ages",len_of_set_ages)
print("Compare length List is greater",len_of_list_ages > len_of_set_ages)

{19, 20, 22, 24, 25, 26}
lenght of list of ages 12
lenght of set of ages 6
Compare length List is greater True

14. Explain the difference between the following data types: string, list, tuple and set??
Answer:

 ##String: Python data type which is declared by single or double coats. they are mutable(changable)
##List##:  Python data type which is declared by []. Can contain both heterogeneous and homogeneous data it is mutable

##Tuple##: Python data type which is declared by ().It is immutable (do not change)

##Set##: Python data type which is declared by {}.It is mutable data type but it cannot table any mutable datatype in it.it is unordered in nature.